<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulario de cadastro de Noticia</title>
		</head>
	<body>

		<h1>Adicionar noticia</h1>
		<br/ >

		<form action="/noticias/salvar" method="POST">
			<label>Título</label>
			<input type="text" id="titulo" name="titulo" placeholder="Título da noticia"/>
			<br />
			<label>Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br />
			<input type="submit" value="Enviar"/>
		</form>

	</body>
</html>2